body{
  text-align: center;
  align-items: center;
  color: #264653;
  font-family: 'Noto Sans Mono', monospace;
  background-color: rgb(228, 228, 228);
}

.edit-name-input{
  width: 65px;
}

input {
  font-size: 16px;
  font-family: inherit;
  padding: 0.25em 0.5em;
  background-color: #fff;
  border: 2px solid #264653;
  border-radius: 4px;
}


.update-name-btn-class{
  content: '\2713';
  color: seashell;
}